/*DECLARATIONS*/
@font-face{
	font-family: 'centurygothic';
	src: url('../fonts/centurygothic.ttf');
}
	
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}
/*END DECLARATIONS*/


*{ font-family: $accent-font !important; }

@mixin font(){
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
}
.material-icons {
	@include font;
	font:{
		family: 'Material Icons' !important;
		weight: normal;
		style: normal;
		size: 24px;
	}
	-webkit:{
		font-feature-settings: 'liga';
		font-smoothing: antialiased;
	}
}

.letterspaced{
	@include letterspace;
	&.large{
		@include letterspace(0.6em);
	}
	&.medium{
		@include letterspace(0.5em);
	}
}

.justify{
	text-align: justify !important;
}

.subdescription{
	line-height: 1em;
	letter-spacing: 0.1em;
	& p{
		font-size: 0.4em;
	}
}
.date-desc{
   	text-align: right !important;
    letter-spacing: 0.03em;
    font-size: 0.9em;
    font-weight: bolder;
    text-transform: uppercase;
}

