//Font Variables
	$centurygothic: 'centurygothic';
	$hypatia: 'hypatiasanspro';
	$futura: 'futurapt';
	$euclidflex: 'euclidflex';


	$title-font: $hypatia;
	$sub-font: $futura;
	$accent-font: $centurygothic;
//End Font Variables



