//Input Color Variables
	$input-color: #616161 !important;
	$error-color: #e57373  !important;
	$success-color: #4db6ac  !important;
//End Input Color Variables
	$kashmir: #614385 !important;
	$dark-green: #1B5E20;
	$dark-grey: #424242;
	$white: #FFFFFF;
	$dirty-white: #f6f6f6;

	$dark-green-trans: rgba(36, 59, 85, 0.8);


	$primary-color: $kashmir;
	$secondary-color: $dark-grey;
	$accent-color: $white;
	$background-color: $dirty-white;

	$primary-trans: $dark-green-trans;